.rateDiv {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    font-family: Oswald;
    font-size: 1.3rem;
}

.rateDiv h2 {
    color: lightseagreen;
    font-family: Oswald;
    margin: 20px;
}

.container {
    width: 1200px;
    margin: auto;
    height: auto;
    position: relative;


}

/*rateBox*/
.rateBox {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    top: -60px;
    display: grid;
    grid-template: auto/repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 5px;
}

.rateBoxH2 {
    position: absolute;
    top: -100px;
    z-index: 1;
    left: -10px;
}


/*calc*/
.boxCalc {
    position: relative;
    padding: 20px 15px 20px 20px;
    margin-top: -20px;
    background: #ededed;
    border: 3px solid #e4e4e450;
    box-shadow: 0 2px 5px #a3a3a3;
    font-family: Oswald;
    font-size: 1.3rem;
    height: 400px;
    z-index: 1;
}

.boxCalc h2 {
    position: absolute;
    top: -70px;
    z-index: 2;
    left: -30px;
}

.numInput {
    position: absolute;
    z-index: 1;
    top: 135px;

}


/*RateBox*/
.card {
    position: relative;
    width: 200px;
    height: 120px;
    background: #ededed;
    border: 3px solid #e4e4e450;
    box-shadow: 0 2px 5px #a3a3a3;
    margin: 20px;


}

.card p {
    width: 100%;

}

.amount {
    position: absolute;
    margin-left: 150px;
    top: 20px;
    z-index: 1;
}

.currency {
    position: relative;
    font-size: 1.3rem;
    text-align: left;
    font-family: Oswald;
    font-weight: bold;
    margin-top: -10px;
    z-index: 2;
}

.textBuy {
    position: absolute;
    bottom: 0;

}

.amount b {
    color: crimson;
    padding: 5px;
    margin-left: -20px;

}

.subBtn {
    position: absolute;
    left: 380px;
    top: -5px;
    z-index: 2;

}

/*exchange*/
.result{
    position: absolute;
    bottom:180px;
    z-index: 2;
    color: crimson;
}