.contacts {
    width: 100%;
    height: 100vh;
}

.contactsList {
    width: 1200px;
    margin: auto;
    height: auto;

}

.contacts ul li {
    padding: 5px;
    list-style-type: square;
}

.contacts h2{
    color:lightseagreen ;

}

.contacts ul, h2 {
    list-style-type: none;
    padding: 10px;

}
